<p>Recipies: </p>
<ul>
  <% @recipies.each do |food| %>
    <li class="card text-white bg-success mb-3 .d-flex">
      <div class="card-body">
        <p class="card-title"><%= food.name %></p>
        <%= link_to 'Remove', "/recipies/#{food.id}/destroy", method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= food.description %></p>
        <p><%= food.public %></p>
      </div>
    </li>
  <% end %>
</ul>