/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.right {
  float: right;
}

.food_form_container {
  padding: 20px;
}

.food_form {
  width: 100%;
  margin: 0 auto;
}

.recipe-header {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 15px -10px #000;
  box-shadow: 5px 5px 15px -10px #000;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #000;
}

@media only screen and (min-width: 760px) {
  .food_form {
    width: 60%;
  }
}
